.user-list-container {
  display: flex;
}

.user-sidebar {
  width: 30%;
  background-color: #f5f5f5;
  padding: 20px;
  box-sizing: border-box;
  border-right: 1px solid #ddd;
  margin-top: 10px;
  border-radius: 5px;
}

.search-sort {
  margin-bottom: 10px;
  display: flex;
  width: max-content;
}

.search-input {
  padding: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #a5d6a7;
  background-color: #f5f5f5;
}

.search-input::placeholder {
  color: #333333;
}

.sort-button {
  padding: 10px;
  font-size: 14px;
  background-color: #689f38;
  color: white;
  border: none;
  cursor: pointer;
  margin: 0 0 10px 10px;
  border-radius: 5px;
}

.sort-button:hover {
  background-color: #518b1e;
}

.user-names {
  list-style-type: none;
  padding: 0;
  margin: 0;
  min-height: 200px;
  max-height: 50vh;
  overflow-y: auto;
  color: #333333;
}

.user-not-found {
  padding: 10px;
  font-size: 18px;
  color: #333333;
  text-align: center;
}

.user-name-item {
  padding: 10px;
  margin-bottom: 5px;
  background-color: #fff;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: background-color 0.2s;
  background-color: #f5f5f5;
}

.user-name-item:hover {
  background-color: #dcedc8;
}

.user-name-item.active {
  background-color: #a2cc73;
}

.user-details-section {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  background-color: #f5f5f5;
  margin: 10px 0 0 10px;
  border-radius: 5px;
}
