.user-details {
  width: 60%;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.user-heading {
  font-size: 2rem;
  color: #388e3c;
  border-bottom: 1px solid #a5d6a7;
}

.user-paragraph {
  text-align: left;
  font-size: 18px;
  color: #333333;
}
